<h2>כתיבת תגובה</h2>

<form class="comments-form" method="post" action="{{ site.staticman.url }}">
  <span>האימייל לא יוצג באתר. שדות החובה מסומנים *</span>
  <input type="hidden" id="comment-replying-to-id" name="fields[parentId]" value="">
  <input type="hidden" name="options[slug]" value="{{ page.slug }}">
  <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.staticman.reCaptcha.siteKey }}">
  <input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.staticman.reCaptcha.secret }}">

  <div class="form-line">
    <div class="field-full-line">
      <label for="comment-form-message">
      התגובה שלך *
        <textarea name="fields[message]" type="text" id="comment-form-message" required rows="6"></textarea>
      </label>
    </div>
  </div>

  <div class="form-line">
    <div class="field-half-line md:w-1/2 mb-6 md:mb-0">
      <label for="comment-form-name">
      שם *
        <input name="fields[name]" type="text" id="comment-form-name" placeholder="" required/>
      </label>
    </div>

    <div class="field-half-line md:w-1/2">
      <label for="comment-form-email">
      E-mail *
        <input name="fields[email]" type="email" id="comment-form-email" placeholder="" required/>
      </label>
    </div>
  </div>

  <div class="form-line">
    <div class="field-full-line">
      <label for="hp">
      אתר
        <input name="fields[url]" id="url" type="text">
      </label>
    </div>
  </div>

  <div id="reCaptcha" class="g-recaptcha" data-sitekey="{{ site.staticman.reCaptcha.siteKey }}"></div>

  <button id="comment-form-submit">
      להגיב
  </button>

</form>