<form class="comments-form js-form" method="post" action="{{ site.staticman.url }}">
  <div class="flow-root">
    <h2>כתיבת תגובה</h2>
    <a class="cancel-comment" href="#">ביטול</a>
  </div>
  <span>האימייל לא יוצג באתר. שדות החובה מסומנים *</span>
  <input type="hidden" id="comment-replying-to-id" name="fields[parentId]" value="">
  <input type="hidden" name="options[slug]" value="{{ page.fileSlug }}">
  <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.staticman.reCaptcha.siteKey }}">
  <input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.staticman.reCaptcha.secret }}">
  {# <input type="hidden" name="options[redirect]"  value="{{site.url}}{{ page.url }}#comment-received"> #}

  <div class="form-line">
    <div class="field-full-line">
      <label for="comment-form-message">
      התגובה שלך *
        <textarea name="fields[message]" type="text" id="comment-form-message" required rows="6"></textarea>
      </label>
    </div>
  </div>

  <div class="form-line">
    <div class="field-half-line md:w-1/2 mb-6 md:mb-0">
      <label for="comment-form-name">
      שם *
        <input name="fields[name]" type="text" id="comment-form-name" placeholder="" required/>
      </label>
    </div>

    <div class="field-half-line md:w-1/2">
      <label for="comment-form-email">
      E-mail *
        <input name="fields[email]" type="email" id="comment-form-email" placeholder="" required/>
      </label>
    </div>
  </div>

  <div class="form-line">
    <div class="field-full-line">
      <label for="hp">
      אתר
        <input name="fields[url]" id="url" type="text">
      </label>
    </div>
  </div>

  <div id="reCaptcha" class="g-recaptcha" data-sitekey="{{ site.staticman.reCaptcha.siteKey }}"></div>

  <button id="comment-form-submit">
      שליחה
  </button>

</form>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none" >
  <symbol id="icon-loading" viewBox="149.8 37.8 499.818 525"><path d="M557.8 187.8c13.8 0 24.601-10.8 24.601-24.6S571.6 138.6 557.8 138.6s-24.6 10.8-24.6 24.6c0 13.2 10.8 24.6 24.6 24.6zm61.2 90.6c-16.8 0-30.6 13.8-30.6 30.6s13.8 30.6 30.6 30.6 30.6-13.8 30.6-30.6c.6-16.8-13.2-30.6-30.6-30.6zm-61.2 145.2c-20.399 0-36.6 16.2-36.6 36.601 0 20.399 16.2 36.6 36.6 36.6 20.4 0 36.601-16.2 36.601-36.6C595 439.8 578.2 423.6 557.8 423.6zM409 476.4c-24 0-43.2 19.199-43.2 43.199s19.2 43.2 43.2 43.2 43.2-19.2 43.2-43.2S433 476.4 409 476.4zM260.8 411c-27 0-49.2 22.2-49.2 49.2s22.2 49.2 49.2 49.2 49.2-22.2 49.2-49.2-22.2-49.2-49.2-49.2zm-10.2-102c0-27.6-22.8-50.4-50.4-50.4-27.6 0-50.4 22.8-50.4 50.4 0 27.6 22.8 50.4 50.4 50.4 27.6 0 50.4-22.2 50.4-50.4zm10.2-199.8c-30 0-54 24-54 54s24 54 54 54 54-24 54-54-24.6-54-54-54zM409 37.8c-35.4 0-63.6 28.8-63.6 63.6S374.2 165 409 165s63.6-28.8 63.6-63.6-28.2-63.6-63.6-63.6z"/>
  </symbol>
</svg>
<div id="alert-ok" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert" style="display:none">
  <strong class="font-bold">הידד!</strong>
  <span class="block sm:inline">התגובה התקבלה ותוצג לאחר בקרה</span>
  <span class="absolute top-0 bottom-0 left-0 px-4 py-3">
    <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
<div id="alert-error" class="bg-red-100 border border-red-400 text-red-700 pr-4 pl-12 py-3 rounded relative" role="alert" style="display:none">
  <strong class="font-bold">אופס!</strong>
  <span class="block sm:inline">קרתה תקלה בשליחת התגובה. נסו שנית מאוחר יותר.</span>
  <span class="block sm:inline" id="error-reason"></span>
  <span class="absolute top-0 bottom-0 left-0 px-4 py-3">
    <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>