<footer class="bg-gray-900 pb-10">
  <p class="block text-center text-sm mb-6">
    CC-BY-SA
    <a href="/">
      Yehuda Bar Nir
    </a>
    &bull; Built with <a href="https://www.11ty.dev/">11ty</a> 
    &bull; Based on <a target="_blank" href="https://github.com/reeseschultz/11r">11r</a> by
    <a target="_blank" href="https://reeseschultz.com">
      Reese Schultz
    </a> 
  </p>

</footer>