<footer class="bg-gray-900 pb-10">
  <p class="block text-center text-sm mb-6">
    CC-BY-SA
    <a href="/blog/">
      Yehuda Bar Nir
    </a>. Based on <a target="_blank" href="https://github.com/reeseschultz/11r">11r</a> by
    <a target="_blank" href="https://reeseschultz.com">
      Reese Schultz
    </a>
  </p>

</footer>