<div>
    {% for post in posts %}
        {% if not post.data.draft %}
            <div class="mb-8 border-dotted border-b pb-8 border-gray-600">
                <h2 class="mb-2">
                    <a class="block" href="{{ post.url | url }}">{{ post.data.title }}</a>
                </h2>

                {%- set numComments = comments[post.fileSlug] | commentsCount %}
                {%- if numComments.count > 0 -%}
                    <a class="block inline float-left mb-2 md:pt-2 comments-count md:mr-2" 
                        href="{{ post.url | url }}#comments"
                        title="{{ numComments.text }}">
                        💬 {{ numComments.count }}
                    </a>
                {%- endif -%}

                <span class="block md:inline md:float-left mb-2 md:pt-2 created-date" datetime="{{ post.data.date }}">
                    {{ post.data.date | dateDisplay }}
                </span>

                {% for tag in post.data.tags %}
                    {%- if tag !== "post" -%}
                        <a class="tag" href="{{ site.baseUrl }}tag/{{ tag }}/">{{ tag }}</a>
                    {%- endif -%}
                {% endfor %}
                <div class="clear-both"></div>

                <div class="content post">
                    {{ post.templateContent | safe }}
                    {%- if post.data.trailSerial %}
                        {%- include 'trail-data.njk' %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>