<div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    {% for post in posts %}
        {% if not post.data.draft %}
        <div class="overflow-hidden rounded-md">
            {%- if post.data.ogImage -%}
            <div class="aspect-w-3 aspect-h-2">
                <img
                class="w-full aspect-square object-cover object-center"
                src="{{ site.baseUrl }}{{ post.data.ogImage }}"
                alt={props.instance.frontmatter.imgAlt}
                loading="lazy"
                />
            </div>
            {%- endif -%}

            <div class="px-3 pt-4 pb-6 ">
                <h3 class="text-xl font-semibold text-center">
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                </h3>

                {%- set numComments = comments[post.fileSlug] | commentsCount %}
                {%- if numComments.count > 0 -%}
                    <a class="block inline float-left mt-2 comments-count mr-2 text-xs" 
                        href="{{ post.url | url }}#comments"
                        title="{{ numComments.text }}">
                        💬 {{ numComments.count }}
                    </a>
                {%- endif -%}

                <div class="text-xs mt-2 created-date" datetime="{{ post.data.date }}">
                    {{ post.data.date | dateDisplay }}
                </div>

                {%-if post.data.excerpt -%}
                <div class="mt-2 text-md">
                {{ post.data.excerpt.slice(0, 150) }}&hellip; <a href="{{ post.url | url }}">יש&nbsp;עוד</a>
                </div>
                {%- endif -%}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>