
<table class="summary-table">
    <thead>
        <tr>
            <th>סה״כ בשביל</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>מרחק מצטבר</td>
            <td>{{ trailStats.total }} ק"מ</td>
        </tr>
    </tbody>
</table>
