{%- set data = post.data or { 
    trailSerial: trailSerial,
    trailStart: trailStart,
    trailEnd: trailEnd,
    trailDirection: trailDirection,
    trailDistance: trailDistance,
    trailAscend: trailAscend,
    trailDescend: trailDescend,
    trailMinElevation: trailMinElevation,
    trailMaxElevation: trailMaxElevation,
    trailNetTime: trailNetTime,
    trailTotalTime: trailTotalTime,
    trailAvgSpeed: trailAvgSpeed,
    trailEndImage: trailEndImage,
    trailEndImageAlt: trailEndImageAlt
} 
%}
<h4>הקטע במספרים</h4>
<table>
    <tr>
        <td>
            קטע מספר:
        </td>
        <td>
            {{data.trailSerial}}/60
        </td>
    </tr>
    <tr>
        <td>
            נקודת התחלה:
        </td>
        <td>
            {{data.trailStart}}
        </td>
    </tr>
    <tr>
        <td>
            נקודת סיום:
        </td>
        <td>
            {{data.trailEnd}}
        </td>
    </tr>
    <tr>
        <td>
            כוון:
        </td>
        <td>
            {{ "מצפון לדרום" if data.trailDirection == "southbound" else "מדרום לצפון" }}
        </td>
    </tr>
    <tr>
        <td>
            מרחק הליכה:
        </td>
        <td>
            {{data.trailDistance}} ק&quot;מ
        </td>
    </tr>
    <tr>
        <td>
            סה״כ עליה:
        </td>
        <td>
            {{data.trailAscend}} מ׳
        </td>
    </tr>
    <tr>
        <td>
            סה״כ ירידה:
        </td>
        <td>
            {{data.trailDescend}} מ׳
        </td>
    </tr>
    <tr>
        <td>
            גובה מינימלי:
        </td>
        <td>
            &lrm;{{data.trailMinElevation}}&rlm; מ׳
        </td>
    </tr>
    <tr>
        <td>
            גובה מקסימלי:
        </td>
        <td>
            &lrm;{{data.trailMaxElevation}}&rlm; מ׳
        </td>
    </tr>
    <tr>
        <td>
            זמן הליכה נטו:
        </td>
        <td>
            {{data.trailNetTime}} שעות
        </td>
    </tr>
    <tr>
        <td>
            זמן כולל:
        </td>
        <td>
            {{data.trailTotalTime}} שעות
        </td>
    </tr>
    <tr>
        <td>
            מהירות ממוצעת:
        </td>
        <td>
            {{data.trailAvgSpeed}} קמ&quot;ש
        </td>
    </tr>
    <tr>
        <td>
            מפת הקטע:
        </td>
        <td>
            <a href="/maps/trail-{{data.trailSerial}}/#map">🗺️</a>
        </td>
    </tr>
</table>
<img src="/{{data.trailEndImage}}" alt="{{data.trailEndImageAlt}}" title="{{data.trailEndImageAlt}}">
{# <p>
{% image data.trailEndImage, data.trailEndImageAlt %}
</p> #}