{%- set data = post.data or { 
    trailSerial: trailSerial,
    trailMaps: trailMaps,
    trailStart: trailStart,
    trailEnd: trailEnd,
    trailDirection: trailDirection,
    trailDistance: trailDistance,
    trailAscend: trailAscend,
    trailDescend: trailDescend,
    trailMinElevation: trailMinElevation,
    trailMaxElevation: trailMaxElevation,
    trailNetTime: trailNetTime,
    trailTotalTime: trailTotalTime,
    trailAvgSpeed: trailAvgSpeed,
    trailEndImage: trailEndImage,
    trailEndImageAlt: trailEndImageAlt,
    trailSongs: trailSongs
} 
%}
<table class="summary-table">
    <thead>
        <tr>
            <th>הקטע במספרים</th>
            {% if data.trailSerial | length > 1 %}
                {% for i in data.trailSerial %}
                    <th>יום {{ loop.index }}</th>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>קטע מספר:</td>
            {% for serial in data.trailSerial %}
                <td>{{ serial }}/60</td>
            {% endfor %}
        </tr>
        <tr>
            <td>נקודת התחלה:</td>
            {% for start in data.trailStart %}
                <td>{{ start }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>נקודת סיום:</td>
            {% for end in data.trailEnd %}
                <td>{{ end }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>כוון:</td>
            {% for direction in data.trailDirection %}
                <td>{{ "מצפון לדרום" if direction == "southbound" else "מדרום לצפון" }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>מרחק הליכה:</td>
            {% for distance in data.trailDistance %}
                <td>{{ distance }} ק"מ</td>
            {% endfor %}
        </tr>
        {% if data.trailAscend %}
        <tr>
            <td>סה״כ עליה:</td>
            {% for ascend in data.trailAscend %}
                <td>{{ ascend }} מ׳</td>
            {% endfor %}
        </tr>
        {% endif %}
        {% if data.trailDescend %}
        <tr>
            <td>סה״כ ירידה:</td>
            {% for descend in data.trailDescend %}
                <td>{{ descend }} מ׳</td>
            {% endfor %}
        </tr>
        {% endif %}
        <tr>
            <td>גובה מינימלי:</td>
            {% for minElevation in data.trailMinElevation %}
                <td>&lrm;{{ minElevation }}&rlm; מ׳</td>
            {% endfor %}
        </tr>
        <tr>
            <td>גובה מקסימלי:</td>
            {% for maxElevation in data.trailMaxElevation %}
                <td>&lrm;{{ maxElevation }}&rlm; מ׳</td>
            {% endfor %}
        </tr>
        <tr>
            <td>זמן הליכה נטו:</td>
            {% for netTime in data.trailNetTime %}
                <td>{{ netTime }} שעות</td>
            {% endfor %}
        </tr>
        <tr>
            <td>זמן כולל:</td>
            {% for totalTime in data.trailTotalTime %}
                <td>{{ totalTime }} שעות</td>
            {% endfor %}
        </tr>
        <tr>
            <td>מהירות ממוצעת:</td>
            {% for avgSpeed in data.trailAvgSpeed %}
                <td>{{ avgSpeed }} קמ"ש</td>
            {% endfor %}
        </tr>
        {% if (data.trailSongs) %}
        <tr>
            <td>שירים ששמענו:</td>
            {% for song in data.trailSongs | parseSongs %}
                <td>{{ song.name }} <a href="{{song.url}}" target="_blank">🔊</a></td>
            {% endfor %}
        </tr>
        {% endif %}
        <tr>
            <td>מפת הקטע:</td>
            {% for serial in (data.trailMaps or data.trailSerial) %}
                <td><a href="/maps/trail-{{ serial }}/#map">🗺️</a></td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                למפת התקדמות ואינדקס המקטעים:
            </td>
            <td>
                <a href="/blog/Israel-trail-map/">📂</a>
            </td>
        </tr>
    </tbody>
</table>
<img src="/{{data.trailEndImage}}" alt="{{data.trailEndImageAlt}}" title="{{data.trailEndImageAlt}}">
{# <p>
{% image data.trailEndImage, data.trailEndImageAlt %}
</p> #}