/* Prism Code Highlighting Theme (see https://prismjs.com) */
@import url('https://cdn.jsdelivr.net/npm/prism-themes@1.4.0/themes/prism-dracula.css');

html,
body {
  @apply antialiased text-gray-500 bg-gray-900;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold leading-tight mt-3;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
a {
  @apply text-gray-300;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

a {
  @apply font-bold;
}

a:hover {
  @apply underline;
}

p {
  @apply text-lg;
}

pre {
  @apply my-2 text-sm tracking-wider break-words;
  direction: ltr;
  border-radius: 25px;
}

hr {
  @apply mt-4 mb-2 border-dotted border-b border-gray-600;
}

.attribution {
  @apply text-right -mt-8 text-sm;
}

.attribution::before {
  content: '— ';
}

.content > blockquote {
  border-right: 0.5rem solid #718096;
  margin: 1.5em 1.5em;
  padding: 0.5em 1em;
}

.content > blockquote[dir=ltr] {
  border-right: none;
  border-left: 0.5rem solid #718096;
  margin: 1.5em 1.5em;
  padding: 0.5em 1em;
}

.content > img {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 100%;
  min-width: 100px;
}

.content > ul {
  list-style-type: disc;
}

.content > ol {
  list-style-type: decimal;
}

.content > ol > li,
.content > ul > li {
  @apply text-lg mr-8 pr-2;
}

.content > p {
  @apply pt-3;
}

.excerpt {
  @apply mb-2;
}

.next-page,
.previous-page,
.first-page,
.last-page {
  @apply font-bold whitespace-nowrap text-center;
}

.next-page::before {
  content: "► ";
}

.previous-page::after {
  content: " ◄";
}

.first-page::before {
  content: "| ";
}

.last-page::after {
  content: " |";
}

.top-notice {
  @apply sticky top-0 flex justify-center bg-blue-600 py-1 text-sm;
}

.top-notice > a::before {
  content: "🔥 ";
}

.top-notice > a::after {
  content: " 🔥";
}

#privacy-notice-button {
  fill: #fff;
}

#privacy-notice-button-container {
  margin-top: 2px;
  @apply p-2;
}

#privacy-notice-button-container:hover {
  @apply bg-gray-700 rounded cursor-pointer;
}

.caption {
  @apply text-center text-sm text-gray-500 w-3/4 pb-4 mx-auto w-full;
  margin: 0 auto;
}

.comments-form {
  @apply w-full max-w-lg;
}

.comments-form span {
  @apply block mb-3 text-sm;
}

.form-line {
  @apply flex flex-wrap -mx-3 mb-6;
}

.field-half-line {
  @apply w-full px-3;
}

.field-full-line {
  @apply w-full px-3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  line-height: 1;
  position: relative;
  top: -0.125em; 
  vertical-align: middle;
  width: 1em;

  &.spin {
    animation: spin 2s infinite linear;
  }
}
