---
title: '404 – הדף לא קיים'
permalink: /404.html
---

{% extends 'page.njk' %}

{% block body %}
  <h2 class="mb-2">{{ title }}</h2>
  <p class="mb-2">לא מצאנו את הדף שביקשת.</p>
  <a href="{{ site.baseUrl }}">חזרה לדף הבית</a>
{% endblock %}