---
pagination:
    data: maps
    size: 1
    alias: map
permalink: "maps/trail-{{ map.number }}/"
eleventyComputed:
  title: "מפת מקטע מס׳ {{map.number}}"
---
{% extends 'page.njk' %}
{% block body %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
  <h2 class="text-center">מפת קטע מס׳ {{map.name}}</h2>
  <p class="text-center text-sm italic mb-6">לא מתאימה לצרכי לניווט</p>
  <div id="map"></div>
  <style>
    html,body { height: 100%; }
    main { min-height: 100%; }
    #map { height: calc(100% - 7rem); }
  </style>
  
  <script>
    let taril = {{ map.geojsonFeature | safe }};
    let baseStyle = {
        "color": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };
    let secondStyle = {
        "color": "#000000",
        "weight": 1,
        "opacity": 0.65
    };
    let map = L.map('map').setView([33.22966,35.61782], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    let feature = L.geoJSON(taril, { style: baseStyle}).addTo(map);
    L.geoJSON(taril, { style: secondStyle}).addTo(map);
    map.fitBounds(feature.getBounds());
  </script>
{% endblock %}
